.ant-table-wrapper .ant-table-thead>tr>th {
  background-color: #1b9cac !important;
  color: #ffffff;
  // text-align: center !important;
  font-weight: 600;
  font-size: 15px;
  padding: 10px;
  border-bottom: none !important;
}

/* ===== TABLE BODY CELLS ===== */
.ant-table-wrapper .ant-table-tbody>tr>td {
  color: #1f2937 !important;
  font-weight: 500;
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid #f1f5f9;
}

/* ===== HOVER ROW EFFECT ===== */
.ant-table-wrapper .ant-table-tbody>tr:hover>td {
  background-color: #f9fafb !important;
}

/* ===== FIXED RIGHT COLUMN BACKGROUND ===== */
.ant-table-wrapper .ant-table-cell-fix-right {
  background-color: #ffffff !important;
}